@font-face {
  font-family: 'SpartanBold';
  src: url('/fonts/LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpartanExtraBold';
  src: url('/fonts/LeagueSpartan-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SpartanLight';
  src: url('/fonts/LeagueSpartan-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SpartanMedium';
  src: url('/fonts/LeagueSpartan-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpartanRegular';
  src: url('/fonts/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpartanSemiBold';
  src: url('/fonts/LeagueSpartan-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}