.hero {
  padding-top: 140px;

  &-title {
    font-size: 68px;
    font-family: $spartan-bold;
    background: $gradient-black;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  &-text {
    text-align: center;
    font-family: $spartan-medium;
    font-size: 28px;
  }
}

.build-reason-wrapper {
  display: flex;
  padding: 80px 120px 80px 120px;
  justify-content: space-between;
  background-clip: text;
  background: $gradient-black;
  border-radius: 30px;
  //width: 1256px;
  //height: 268px;

  //text-align: center;
}

.build-reason-text {
  max-width: 350px;
  font-size: 36px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: $spartan-extrabold;
  font-weight: 800;
  line-height: normal;
  align-self: center;
  margin-bottom: 0;
  text-transform: none;
  background: linear-gradient(90deg,
      rgba(169, 196, 249, 1) 0%,
      rgba(53, 129, 250, 1) 50%,
      rgba(169, 196, 249, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.build-reason-list {
  font-size: 20px;
  min-width: 450px;
  color: #fff;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: $spartan-medium;
  margin-bottom: 0;
  letter-spacing: 0.46px;
}

.check {
  display: flex;
  flex-direction: column;
  row-gap: 11px;

  .checked img {
    margin-right: 20px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-wrapper-icon {
  margin-right: 12px;
}

.button-wrapper-button {
  margin-top: 50px;
}

.button-wrapper-button a {
  border: 2px solid #086fff;
  color: #086fff;
  height: 42px;
  text-align: center;
  border-radius: 100px;
  padding: 12px 40px;
}

.pricing-wrapper {
  margin-top: 135px;
  margin-bottom: 140px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.pricing-wrapper-subtitle {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.46px;
}

.pricing-wrapper-text {
  margin-top: 49px;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: normal;
}

.pricing-wrapper-list {
  padding-top: 49px;
  padding-left: 29px;
  text-align: left;
  align-items: normal;
}

.pricing-wrapper-list li {
  margin: 10px;
}

.pricing-wrapper-list img {
  padding-right: 4px;
}

.pricing-wrapper-button {
  text-align: center;
  margin-top: 49px;
  border: 2px solid #086fff;
  color: #086fff;
  border-radius: 100px;
  margin-left: 64px;
  margin-right: 64px;
  padding: 12px 40px;
}

.pricing-left {
  .pricing-wrapper-text {
    max-width: 250px;
    margin: 50px auto 0 auto;
  }
}

.pricing-center {
  border: 2px solid lightgrey;
  border-radius: 30px;
  min-height: 615px;
  padding: 20px 25px;
}

.pricing-wrapper-button:hover {
  background: linear-gradient(90deg,
      rgba(37, 105, 200, 1) 0%,
      rgba(53, 129, 250, 1) 50%,
      rgba(255, 187, 183, 1) 100%);
  color: #fff;
}