$black: #000000;
$white: #ffffff;
$text-color: #1E1E1E;
$btn-blue-color: #086FFF;


$gradient-black: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(42,46,51,1) 50%, rgba(64,80,102,1) 100%);

$spartan-bold: 'SpartanBold', sans-serif;
$spartan-medium: 'SpartanMedium', sans-serif;
$spartan-regular: 'SpartanRegular', sans-serif;